[Unit]
Description=CIS workerd service
After=docker.service

[Service]
Type=forking
User=grid
Group=grid
ExecStart=/usr/local/rvm/bin/rvm do ruby /srv/worker/workerd_control.rb start /srv/worker/config.yml
ExecStop=/usr/local/rvm/bin/rvm do ruby /srv/worker/workerd_control.rb stop /srv/worker/config.yml
Restart=always

[Install]
WantedBy=multi-user.target
